<img src="img/main_grid.png">

<h2>О программе</h2>

<h3>Знакомство с MSHotel</h3>
<p>
  Программа MSHotel предназначена для автоматизации работы гостиниц, туркомплексов и квартирных бюро.
  Основное назначение - это бронирование, заселение Гостей, автоматическая генерация всех необходимых 
  документов (анкеты, счета и т.д.), хранение истории, ведение статистики, формирование отчетов.<br>
</p>
<p>
  Основные функции программы перечислены <a href="#/functions"><b><u>здесь</u></b></a>.<br>
  Предлагаем также познакомиться с небольшим видеоуроком ниже (или <a href="/files/MSHotelv40_video.mp4"><b><u>скачать</u></b></a>).<br>
  <video width="512" height="390" controls>
    <source src="/files/MSHotelv40_video.mp4" type="video/mp4">
  </video>  
  <br>Есть возможность установить <a href="#/demo"><b><u>демо-версию</u></b></a> и при желании <a href="#/sale"><b><u>приобрести</u></b></a> программу.
</p>

<h3>Немного истории</h3>
<p>
  Первая версия программы MSHotel появилась в 2012 году. Она была создана для конкретного апарт-отеля в соответствии с техническим заданием.
  Затем была проведена разовая рассылка электронной почты по небольшим гостиницам в разные города России.
  На предложение познакомиться с MSHotel и приобрести программу откликнулось тогда более десятка владельцев отелей.
  В настоящее время создан этот сайт, который является теперь основным средством знакомства потенциальных клиентов (и Вас в том числе) с программой MSHotel.
</p>

<h3>Текущее состояние и развитие</h3>
<p>
  Точное количество пользователей программы в настоящее время доподлинно неизвестно, но приближается к цифре 200.
  Некоторые из них периодически обращаются с тем или иным предложением по модернизации программы или внесению каких-то изменений.
  Все обращения рассматриваются и в зависимости от их сложности реализуются либо бесплатно (если сложность невелика),
  либо за плату, определяемую по договоренности, если это действительно существенная доработка или реализация какого-то нового блока в программе, нужного именно Вам.
  В любом случае, программа развивается и при появлении новых функций вы сможете скачать обновление на этом сайте.
</p>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-75584560-1', 'auto');
  ga('send', 'pageview');

</script>
