<img src="img/main_grid.png">

<h2>Основные функции</h2>

<ul>
  <font size=3>
  <li>наглядный график бронирований и заселений в виде шахматки</li>
  <li>наглядный график уборки с разделением по горничным</li>
  <li>наглядный график предоставления услуг по часам (баня, сауна, инвентарь и т.п.)</li>
  <li>возможность гибкого ценообразования</li>
  <li>печать всех необходимых документов (анкета, счет, договор, акт и др.)</li>
  <li>база клиентов (ФЛ, ЮЛ) с возможностью поиска и просмотра истории</li>
  <li>возможность автоматического сканирования паспорта клиента из программы
  <li>определение загрузки номерного фонда (%) на любую дату</li>
  <li>различные стратегии расчета стоимости (с учетом Ваших требований)</li>
  <li>учет разницы между стоимостью по документам и реальной стоимостью проживания</li>
  <li>формирование различных отчетных ведомостей</li>
  <li style="color:#00ff00">возможность одновременной работы в программе по сети (в т.ч. удаленно)</li>
  <li>разделение прав доступа с помощью учетных записей пользователей</li>  
  <li>возможность выписывать/аннулировать карты для управления электронными замками</li>
</ul>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-75584560-1', 'auto');
  ga('send', 'pageview');

</script>