<img src="img/main_grid.png">

<h2>Как приобрести</h2>

<p>
  <font size=3>
  Стоимость программы составляет <span style="color:red"><font size=4>12.000<font size=3></span></strong> рублей.<br>
  Вы платите один раз и пользуетесь программой столько, сколько хотите. Никаких ежемесячных платежей!
</p>
<p>
  Оплата производится переводом на банковскую карту Сбербанка.
</p>
<p>
  Приобретая программу, вы получаете также и техническую поддержку (по телефону и электронной почте).<br>
  После оплаты вы получаете файл лицензии "key.lic", который следует положить в каталог с установленной программой.
</p>
<p>
  <strong>Для приобретения программы свяжитесь с разработчиком <a href="#/contacts">любым удобным для вас способом</a></strong>.
</p>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-75584560-1', 'auto');
  ga('send', 'pageview');

</script>